*__pycache__/

*.ipynb_checkpoints

*.nc

*.tar.gz

*.tar

*.zip

*.tif

*.tfw

.local
BayDeltaSCHISM
build
calsim
conda_envs
delta
DeltaCD
dms_datastore
envs
fc_esdl
HelloSCHISM
pyschism
run_schism
schism
schism_scripts_scratch
slurm
slurm_group_dir
time_varying_data/aws
time_varying_data/tide_gauge_data
validation_data
VisIt


slurm-*.out
