*__pycache__/

*.ipynb_checkpoints

*.nc

*.tar.gz

*.tar

*.zip

*.tif

*.tfw

VisIt

conda_envs

time_varying_data/aws/

validation_data/screened/

validation_data/*.csv
validation_data/*.png
calsim
slurm-*.out
