*__pycache__/

*.ipynb_checkpoints

*.nc

*.tar.gz

*.tar

*.zip

*.tif

*.tfw

.local
BayDeltaSCHISM
build
calsim
conda_envs
delta
DeltaCD
dms_datastore
envs
fc_esdl
HelloSCHISM
pyschism
run_schism
schism
schimpy
schism_scripts_scratch
slurm
slurm_group_dir
time_varying_data/aws
time_varying_data/tide_gauge_data
time_varying_data/cirrus_LOCA2/
time_varying_data/era5
time_varying_data/test_cirrus
time_varying_data/cleaned_cirrus_LOCA2/
time_varying_data/sl_regression/
validation_data
VisIt
UTide
climate_data_processing/identify_stp/*.csv
climate_data_processing/sl_regression/*.csv
climate_data_processing/test_Lily_code/
sav_for_schism/
second_backup_group_dir_schism_scripts/
backup_group_dir_schism_scripts/
expanse_sync/

*nohup*.out
slurm-*.out
